In [1]:
import pandas as pd
df = pd.read_csv('/Users/deveshsharma/Downloads/Agmarket Prices 2023.csv')
df

,date,census_district_name,census_state_name,commodity_name,min_price,max_price,modal_price
0,2023-01-01,South West,NCT OF DELHI,Wheat,2650.0,2800.0,2725.0
1,2023-01-01,South West,NCT OF DELHI,Wheat,3540.0,3540.0,3540.0
2,2023-01-01,Alappuzha,KERALA,Wheat,2100.0,2200.0,2150.0
3,2023-01-01,Ahmadnagar,MAHARASHTRA,Wheat,2300.0,3000.0,3000.0
4,2023-01-01,Akola,MAHARASHTRA,Wheat,2500.0,2900.0,2800.0
...,...,...,...,...,...,...,...
233004,2023-12-31,South Twenty Four Parganas,WEST BENGAL,Rice,4900.0,5100.0,5000.0
233005,2023-12-31,South Twenty Four Parganas,WEST BENGAL,Rice,3200.0,3400.0,3300.0
233006,2023-12-31,Haora,WEST BENGAL,Rice,3300.0,3500.0,3400.0
233007,2023-12-31,Haora,WEST BENGAL,Rice,3500.0,3700.0,3600.0
233008,2023-12-31,Puruliya,WEST BENGAL,Rice,3420.0,3440.0,3440.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233009 entries, 0 to 233008
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   date                  233009 non-null  object
 1   census_district_name  233009 non-null  object
 2   census_state_name     233009 non-null  object
 3   commodity_name        233009 non-null  object
 4   min_price             233009 non-null  float64
 5   max_price             233009 non-null  float64
 6   modal_price           233009 non-null  float64
dtypes: float64(3), object(4)
memory usage: 12.4+ MB

In [4]:
df['date'] = pd.to_datetime(df['date'])
print(df.date.dtype)

datetime64[ns]

In [ ]:
import plotly.graph_objects as go
import plotly.express as px

# Create a heatmap
def create_heatmap(df, selected_state, selected_district, selected_commodity):
    filtered_df = df[(df['census_state_name'] == selected_state) & 
                     (df['census_district_name'] == selected_district) & 
                     (df['commodity_name'] == selected_commodity)]
    
    pivot = filtered_df.pivot_table(values='modal_price', index='census_district_name', 
                                    columns=filtered_df['date'].dt.strftime('%B'), 
                                    aggfunc='mean')
    
    fig = px.imshow(pivot, labels=dict(color="Average Price"),
                    title=f"Monthly Average Modal Price for {selected_commodity} in {selected_state}")
    return fig

# Create a line chart
def create_line_chart(df, selected_state, selected_district, selected_commodity):
    filtered_df = df[(df['census_state_name'] == selected_state) & 
                     (df['census_district_name'] == selected_district) & 
                     (df['commodity_name'] == selected_commodity)]
    
    monthly_avg = filtered_df.groupby(filtered_df['date'].dt.strftime('%B'))['modal_price'].mean().reset_index()
    
    fig = px.line(monthly_avg, x='date', y='modal_price', 
                  title=f"Monthly Average Modal Price Trend for {selected_commodity} in {selected_state}")
    return fig

In [ ]:
pivot = df.pivot_table(values='modal_price', index='census_district_name', 
                             columns=df['date'].dt.strftime('%B'), 
                             aggfunc='mean')
fig = px.imshow(pivot, labels=dict(color="Average Price"),
                    title=f"Monthly Average Modal Price for {selected_commodity} in {selected_state}")

In [40]:
# df.pivot_table()
filtered_df = df[(df['census_state_name'] == 'MADHYA PRADESH') & 
                     (df['census_district_name'] == 'Neemuch') & 
                     (df['commodity_name'] == 'Wheat')]
filtered_df.assign(month = filtered_df.date.dt.month).commodity_name.value_counts()#.groupby('month').modal_price.mean().plot(kind='bar', figsize=(20, 10))
# filtered_df.pivot_table(values='modal_price', index='census_district_name', 
#                                     columns=filtered_df['date'].dt.strftime('%B'), 
#                                     aggfunc='mean')

Series([], Name: count, dtype: int64)

In [48]:
# df[df['census_state_name'] == 'UTTAR PRADESH']['census_district_name'].unique()
# df[(df['census_state_name'] == 'MADHYA PRADESH') & (df['commodity_name'] == 'Rice')]['census_district_name'].unique()
# df.census_state_name.unique()
df1 = df[(df['census_state_name'] == 'MADHYA PRADESH') & (df['commodity_name'] == 'Rice')]
df1

,date,census_district_name,census_state_name,commodity_name,min_price,max_price,modal_price
199624,2023-10-31,Bhopal,MADHYA PRADESH,Rice,2730.0,2730.0,2730.0
201015,2023-11-02,Bhopal,MADHYA PRADESH,Rice,2600.0,2605.0,2600.0
201766,2023-11-03,Bhopal,MADHYA PRADESH,Rice,2400.0,2400.0,2400.0
202491,2023-11-04,Bhopal,MADHYA PRADESH,Rice,2700.0,2700.0,2700.0
203455,2023-11-06,Bhopal,MADHYA PRADESH,Rice,2000.0,4150.0,3515.0
204879,2023-11-08,Bhopal,MADHYA PRADESH,Rice,2000.0,4010.0,3700.0
209721,2023-11-20,Bhopal,MADHYA PRADESH,Rice,1600.0,4100.0,3790.0
217023,2023-12-02,Bhopal,MADHYA PRADESH,Rice,1200.0,4470.0,4260.0
217938,2023-12-04,Bhopal,MADHYA PRADESH,Rice,1200.0,4470.0,4260.0
218616,2023-12-05,Bhopal,MADHYA PRADESH,Rice,1600.0,4500.0,4380.0

In [42]:
df.census_state_name.unique()

array(['NCT OF DELHI', 'KERALA', 'MAHARASHTRA', 'MADHYA PRADESH',
       'RAJASTHAN', 'UTTAR PRADESH', 'WEST BENGAL', 'ANDHRA PRADESH',
       'BIHAR', 'KARNATAKA', 'ODISHA', 'TRIPURA', 'UTTARAKHAND',
       'CHHATTISGARH', 'GUJARAT', 'MANIPUR', 'HARYANA', 'PUNJAB',
       'MEGHALAYA'], dtype=object)